set bind-tty-special-chars off
"\C-h":next-history
"\C-k":previous-history
"\C-w":unix-filename-rubout
"\t":menu-complete
"\e[Z":menu-complete-backward
"\C-m":forward-word
"\C-n":backward-word
set blink-matching-paren on
set convert-meta on
set menu-complete-display-prefix on
set colored-stats on
