set bind-tty-special-chars off
"\C-h":next-history
"\C-k":previous-history
"\C-o":backward-delete-char
"\C-w":unix-filename-rubout
"\t":menu-complete
"\e[Z":menu-complete-backward
"\C-m":forward-word
"\C-n":backward-word
