## URxvt settings
##define FONT "Liberation Mono Regular"
#define FONT "Ubuntu Mono Regular"

! text formatting
URxvt.font: xft:Ubuntu Mono:size=11:Regular
URxvt.boldFont: xft: FONT : size=10:Bold
URxvt.italicFont: xft: FONT : size=10:Italic
URxvt.boldItalicFont: xft: FONT : size=13:Italic : Bold
URxvt.internalBorder:  32
URxvt.depth: 32


! extensions
URxvt.perl-ext-common: default,matcher,keyboard-select,font-size
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

! Xterm escapes, word by word movement
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: full

URxvt.scrollBar: false
URxvt.geometry: 81x23

URxvt.cursorColor:rgb:8d/81/50

## XTerm settings
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.saveLines: 4096
XTerm.vt100.faceName: FONT :size=10:antialias=false

