
!     █████ █████                                                         
!    ▒▒███ ▒▒███                                                          
!     ▒▒███ ███   ████████   ██████   █████   ██████  █████ ████ ████████   ██████   ██████   █████ 
!      ▒▒█████   ▒▒███▒▒███ ███▒▒███ ███▒▒   ███▒▒███▒▒███ ▒███ ▒▒███▒▒███ ███▒▒███ ███▒▒███ ███▒▒  
!       ███▒███   ▒███ ▒▒▒ ▒███████ ▒▒█████ ▒███ ▒███ ▒███ ▒███  ▒███ ▒▒▒ ▒███ ▒▒▒ ▒███████ ▒▒█████ 
!      ███ ▒▒███  ▒███     ▒███▒▒▒   ▒▒▒▒███▒███ ▒███ ▒███ ▒███  ▒███     ▒███  ███▒███▒▒▒   ▒▒▒▒███
!  ██ █████ █████ █████    ▒▒██████  ██████ ▒▒██████  ▒▒████████ █████    ▒▒██████ ▒▒██████  ██████ 
! ▒▒ ▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒      ▒▒▒▒▒▒  ▒▒▒▒▒▒   ▒▒▒▒▒▒    ▒▒▒▒▒▒▒▒ ▒▒▒▒▒      ▒▒▒▒▒▒   ▒▒▒▒▒▒  ▒▒▒▒▒▒  
                                                                        
! URxvt settings
!#define FONT Terminus
!#define FONT TerminessTTF Nerd Font Mono

#include ".cache/wal/colors.Xresources"
#define FSIZE 10.5
#define FONT GohuFont\ Nerd\ Font\ Mono

! text formatting
URxvt.lineSpace: 0
URxvt.font: xft:FONT:size=FSIZE:Regular:antialias=false
URxvt.boldFont: xft: FONT: size=FSIZE:Italic
URxvt.italicFont: xft: FONT : size=FSIZE:Italic
URxvt.boldItalicFont: xft: FONT : size=FSIZE:Italic:Bold

! URxvt.depth: 80
! URxvt.shading: 30
! URxvt.background: rgba:00/00/00/00

! URxvt.transparent: true
! URxvt.shading: 20
URxvt.shading: 200
URxvt.depth: 100
URxvt.fading: 4
URxvt.internalBorder: 16

! Xterm escapes, word by word movement
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

! extensions
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg6
! URxvt.bell-command: notify "Beep, Beep"

! Urxvt resize key escapes
URxvt.keysym.C-bracketleft:  resize-font:smaller
URxvt.keysym.C-bracketright:  resize-font:bigger
URxvt.keysym.C-equal:  		resize-font:reset
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.scrollBar: false
URxvt.geometry: 81x23

! remove annoying popups
URxvt.iso14755: false
URxvt.iso14755_52: false

! Cursor settings
URxvt.cursorColor:rgb:b8/bb/26
URxvt.cursorUnderline:True

! Xft settings
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: full

! XTerm settings
XTerm.termName: xterm-256color
XTerm.vt100.locale: true
XTerm.vt100.saveLines: 4096
XTerm.vt100.faceName: FONT :size=FSIZE:antialias=false

XTerm.font: xft:FONT:size=FSIZE:Regular
XTerm.boldFont: xft: FONT : size=FSIZE:Italic
XTerm.italicFont: xft: FONT : size=FSIZE Italic
XTerm.boldItalicFont: xft: FONT : size=FSIZE:Italic : Bold

xterm*font: xft:FONT:size=14:Regular
xterm*boldFont: xft:FONT:size=14:Regular
xterm*italicFont: xft:FONT:size=14:Italic
xterm*boldItalicFont: xft:FONT:size=14:Italic:Bold
